<div class="container">
    <br><br><br>
<h3> View Doctor Details</h3>
<hr>
<div>
    <div>
        <label> <b> Doctor Name: </b></label> {{doctor.name}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{doctor.age}}
    </div>
    <div>
        <label> <b> Gender: </b></label> {{doctor.gender}}
    </div>
    <div>
        <label> <b> Blood Group: </b></label> {{doctor.blood}}
    </div>
    <div>
        <label> <b> Department: </b></label> {{doctor.dept}}
    </div>
    <div>
        <label> <b> Phone: </b></label> {{doctor.phone}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{doctor.email}}
    </div>
    <div>
        <label> <b> Status: </b></label> {{doctor.status}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{doctor.address}}
    </div>
    <div>
        <label> <b> Room: </b></label> {{doctor.room}}
    </div>
    <br><br>
    <div>
        <button routerLink="/doctor" class="btn btn-success">Back to Dashboard</button>
    </div>
</div>
</div>