<div  class="container">
<br><br>
  <!--Doctor Details-->
    <div style="display: flex;" class="container">
    <button style="background:rgb(216, 21, 21); width:500px; height:300px" routerLink="/doctor" id="details"  >Doctor details</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button  id="details"style="background:#ef7e06;  width:500px; height:300px" routerLink="/patient">Patient details</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button id="details" style="background:#0c3aa7; width:500px; height:300px" routerLink="/appointment">Appointment details</button>
  </div>
    </div>