<div class="page-wrapper">
  <nav class="navbar navbar-primary bg-primary">
    <div class="container-fluid">
      <h2 style="color: white">Hospital Management System</h2>
      <div class="d-flex">
        <app-login-status></app-login-status>
      </div>
    </div>
  </nav>
  <!-- MAIN CONTENT-->
  <router-outlet></router-outlet>

</div>

<!-- ENDS PAGE CONTAINER -->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>