<div  class="container">
<br><br>
<div style="margin-top: -23px;" class="alert alert-warning col-xs-12" role="alert">

  Welcome {{username}}! </div>
  <br>
  <div style="width:1000px; margin:0 auto;">
    <div style="display: flex;" class="container">
    <button  *ngIf="role == 'Admin'"  style="background:rgb(252, 89, 89); width:500px; height:200px" routerLink="/doctor" id="details"  >Doctor details</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button  *ngIf="role == 'Patient'"  style="background:rgb(252, 89, 89); width:500px; height:300px" routerLink="/regpatient" id="details"  >Register</button>&nbsp;&nbsp;&nbsp;&nbsp; 
    <button  *ngIf="role == 'Admin' || role=='Doctor'" id="details"style="background:#ef7e06;  width:500px; height:200px" routerLink="/patient">Patient details</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button  *ngIf="role == 'Patient'"  style="background:rgb(89, 184, 252); width:500px; height:300px" routerLink="/createappointment" id="details"  >Book Appointments</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button *ngIf="role == 'Patient'"id="details" style="background:#3fdb46; width:500px; height:300px" routerLink="/home">Back to Home</button> 
    <button  *ngIf="role == 'Admin' || role=='Doctor'" id="details" style="background:#3b5fb3; width:500px; height:200px" routerLink="/appointment">Appointment details</button>
  </div>
    <div style="display: flex; margin-top:50px;">
    <button *ngIf="role == 'Admin'"  id="details" style="background:#6ec74e; width:330px; height:200px" routerLink="/invoice">Invoice details</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button *ngIf="role == 'Admin'"  id="details" style="background:#7a797a; width:330px; height:200px" routerLink="/application">Job Applications</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>
  <br><br>&nbsp;&nbsp;&nbsp;&nbsp;
  <button *ngIf="role == 'Admin' || role=='Doctor'" class="btn btn-success" routerLink="/home">Back to Home</button>
    </div>